.contact-cont img {
   width: 40%;
   height: 60vh;
   border-radius: 5px;
}

.contact-cont {
   display: flex;
   width: 80%;
   margin: 0 auto;
   align-items: center;
   margin-bottom: 50px;
   margin-top: 200px;
}

.form-cont {
   display: flex;
   flex-direction: column;
   width: 50%;
   text-align: center;
   margin: 0 auto;
   /* margin-bottom: 50px;
   margin-top: 100px; */
}

.form-cont input {
   height: 5vh;
   margin-bottom: 8px;
   border-radius: 6px;
   border: 1px solid black;
   background-color: rgb(36, 36, 36);
}

.form-cont input::placeholder {
   padding-left: 10px;
   /* color: rgba(255, 0, 0, 0.792);
    font-size: 15px;
    font-weight: 300; */
}

.form-cont textarea {
   height: 20vh;
   margin-bottom: 8px;
   border-radius: 6px;
   border: 1px solid black;
   background-color: rgb(36, 36, 36);
}
.form-cont button {
   height: 5vh;
   border-radius: 6px;
   border: 1px solid black;
   background-color: red;
   color: white;
   font-size: 20px;
   cursor: pointer;
   transition: 0.2s ease-in-out;
}

.form-cont button:active {
   transform: scale(0.95);
}

@media only screen and (max-width: 400px) {
   .form-cont {
      width: 100%;
   }
   .contact-cont {
      flex-direction: column;
   }
   .contact-cont img {
       width: 100%;
       height: 50vh;
       margin-bottom: 30px;
   }

}
